body {
	background: #ED5356;
	font-family:  ;
	overflow: hidden;
}

.container {
	margin-left: 1%;
	margin-right: 1%;
	margin-top: -1%;
	margin-bottom: 1%;
	height: 104%;
}

.navbar {

	background: white;
	
	float: left;
	position: fixed;
	width: 20%;
	height: 99%;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.navbar h1,h2, hr{
	color: #ED5356;
}
.menulist {

	height: 80%;
	margin-top: 40%;
}

.menulistinner {
	text-align: center;
	margin-left: 0%;
	margin-bottom: 5%;
	margin-top: 10%;
}

#menuitem {
	margin-top:5%;
	margin-bottom:5%;
}

a:link {
	color: #ED5356;
}

a:hover {
	color: #bdc3c7;
}

a:visited {
	color: #bdc3c7;
}

a:active {
	color: #ED5356;
}

.sectionTitle {
	margin-left: 10% ;
	margin-top: 8%;
}

.sectionTitleSub {
	margin-left: 3%;
	margin-top: 2%;
}

/* SECTION 1 - DAILY SUMMARY */

.daily {
	background-color: white;
	
	float: left;
	width: 75%;
	height: 95%;
	margin-left: 23%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.daily p,h1,h2,h3,h4{
	color: #ED5356;
}

hr{
	color:#ED5356;
	background-color: #ED5356;
}

.dailytop {

	height: 90%;
}

.dailytopleft {

	float: left;
	width: 25%;
	height: 100%;
}

.dailytopcenter {

	float: left;
	width: 70%;
	height: 100%;
}

.piechartdiv {

	float: center;
	height: 85%;
	
	margin-top: 5%;
}

.dailytopright {

	float: left;
	width: 26%;
	height: 100%;
}

.piechartinfo {
	border: solid #ED5356;
	height: 70%;
	margin-left: 8%;
	margin-right: 6%;
	margin-top: 20%;
}

.table tr,td{
	border:1px solid #ED5356;
}

.dailybottom {
	border-top: solid #ED5356;
	height: 35%;
}

.dailyinfo {

	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.dailyinfoleft1 {

	width: 35%;
	height: 100%;
	float: left;
}

#dailyleft1 {
	font-size: 20px;
	margin-top: 11%;
	margin-left: 5%;
	text-align: right;
}

.dailyinfoleft2 {

	width: 20%;
	height: 100%;
	float: left;
}

#dailyleft2 {
	font-size: 20px;
	margin-top: 20%;
	margin-left: 2%;
}

.dailyinforight1 {

	width: 25%;
	height: 100%;
	float: left;	
}

#dailyright1 {
	font-size: 15px;
	margin-top: 1%;
	margin-left: 8%;
	text-align: right;
}

.dailyinforight2 {

	width: 20%;
	height: 100%;
	float: left;	
}

#dailyright2 {
	font-size: 15px;
	margin-top: 1%;
	margin-left: 2%;
}





/* SECTION 2 - VIEW SUBSCRIPTIONS */

.sub {
	background-color: white;
	
	float: left;
	width: 75%;
	height: 95%;
	margin-left: 23%;
	margin-top: 1%;
	margin-bottom: 2%;
}
.sub h1,p,h2,h3{
	color: #ED5356;

}

.subtopleft {

	width: 100%;
	height: 12%;
}

.subtopright{
	margin-left: 80%;


}
#select{
	border: solid #ED5356;
	color: white;
	background: #ED5356;
	width: 100px;
	height: 30px;
}

.submid {

	width: 100%;
	height: 65%;

	overflow: hidden;
}

.submidtable {
	overflow-y: scroll;
	width: 95%;
	height: 85%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.subbottom {

	width: 100%;
	height: 21%;
}

#totalsubscription {
	margin-left: 5%;
	margin-top: 2%;
}

#email {
	float: right;
	height: 30%;
	width: 20%;
	margin-right: 5%;
	
	color: white;
}

.tg {

	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 10px 5px;
	color:#ED5356;
	border:1px solid #ED5356;
	overflow: hidden;
	word-break: normal;
	text-align: center;
}

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#ED5356;
	padding: 10px 5px;
	border:1px solid #ED5356;
	overflow: hidden;
	word-break: normal;
	text-align: center;
}

.tg .tg-sd1 {
	width:10%;
}

.tg .tg-sd2 {
	width:20%;
}

.tg .tg-sd3 {
	width:40%;
}

.tg .tg-sd4 {
	width:40%;
}