<!-- login page -->
<ion-view name="forgetPassword" id="forgetPassword" can-swipe-back="false">
  
  
  <ion-content>
    <h3 id="loginTitle" class="centerTitle">FORGOT PASSWORD</h3>
    <form id="backgroundLoginForm">
      <div class="list" >
        
        
        <label class="item item-input item-stacked-label top20 bot20">
          <h2 class="centerH2">E-MAIL ADDRESS</h2>
          <input type="email" class="inputCenter" ng-model="forgotData.email">
        </label>

        
        
      </div>
    </form>
<!--    <div>-->
    <div class="divButton">
        <button class="button button-block button-assertive roundButton" type="submit" ng-click="submitEmail()">SUBMIT</button>
    </div>
    <br>
    <p id="dontHaveAccount">Already remembered?</p>
    
    <div class="divButton centerDiv" >
        
        <button class="button button-block button-assertive roundButton" type="submit" ui-sref="login">LOGIN</button> 
    </div>
      

      
     

  </ion-content>
</ion-view>
