<!-- login page -->
<ion-view name="login" id="login" can-swipe-back="false">
  
  
  <ion-content>
    <h2 id="loginTitle" class="centerTitle">SIGN IN</h2>
    <form id="backgroundLoginForm">
      <div class="list" >
        
        
        <label class="item item-input item-stacked-label top20">
          <h2 class="centerH2">E-MAIL ADDRESS</h2>
          <input type="email" class="inputCenter" ng-model="loginData.username">
        </label>

        <label class="item item-input item-stacked-label top20 bot20">
          <h2 class="centerH2">PASSWORD</h2>
          
          <input type="password" class="inputCenter" ng-model="loginData.password">
          
        </label>
        
      </div>
    </form>
    <div>
      <div class="divButton">
        <button class="button button-block button-assertive roundButton"  ng-click="login()" type="submit">SUBMIT</button>
      </div>
      <div class="divButton" id="forgotPassword">
        <button class="button button-clear button-assertive" type="submit" ui-sref="forgetPassword">Forgot Password</button>
      </div>
      

      
      <hr>
      <p id="dontHaveAccount">Don't have an account?</p>
      <div class="divButton loginSignUpButton">
        <button class="button button-block button-assertive roundButton" type="submit" ui-sref="register">REGISTER</button>
      </div>
    </div>

  </ion-content>
</ion-view>
