<!-- navigation drawer or sidebar menu page -->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="menuContent" ng-controller="MenuCtrl">
    <ion-header-bar class="bar-assertive">
      <h1 class="title center">Menu</h1>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header">
      <ion-list>
       <ion-item id="home_Crowdie" ng-show="crowdie_Role" ui-sref="menu.crowdieHome" menu-close>Home</ion-item>
       <ion-item id="twitterAccount" ng-show="crowdie_Role" ui-sref="menu.twitterAccount" menu-close>View Twitter Account</ion-item>
       <ion-item id="moreCompanies" ng-show="crowdie_Role" ui-sref="menu.moreCompanies" menu-close>Currently Working</ion-item>
       <ion-item ng-show="bo_Role" id="home_BO" ui-sref="menu.boHome" menu-close>Home</ion-item>
       <ion-item ng-show="bo_Role" id="dashboard" ui-sref="menu.dashboard" menu-close>Dashboard</ion-item>
       <ion-item menu-close ui-sref="menu.editProfile" id="editProfileMenu">Edit Profile</ion-item>
       <ion-item menu-close ui-sref="starter" id="logoutMenu">
         Log Out
       </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

