<!-- page in registration process where user choose role as crowdie or business owner -->
<ion-modal-view can-swipe-back="false">
  <ion-content>
  	<h2 class="centerH2" id="titleRole">CHOOSE YOUR ROLE</h2>
  	<div class="roles">

	  	<a ui-sref="chooseCategories" ng-click="chooseCrowdie()">
	  		<img id ="roleCrowdie"  class="roles" ng-src="./img/roleCrowdie.png">  
	  		
	    </a>
	    <a ng-click="chooseBO()">    
	    	<img id ="roleBO"  class="roles" ng-src="./img/roleBO.png">     
		</a>
	</div>
     
  </ion-content>
</ion-modal-view>