<!-- page business owner connect to twitter -->
<ion-view title="Connect to Twitter" id="page6" can-swipe-back="false">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <div>
            <a ng-click="connectTwitter()">
                <img src="img/twitterLogo.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
             </a>   
        </div>
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div>
            <h2 style="color:#4D4D4D;font-weight:100;text-align:center;">Link to your</h2>
            <h2 style="color:#4D4D4D;font-weight:100;text-align:center;">Twitter Account</h2>
            <h2 style="color:red;font-weight:100;text-align:center;">{{error}}</h2>
        </div>
    </ion-content>
</ion-view>