<ion-view id="explore" title="Explore">
	<!-- <ion-nav-title>
		<a ng-click="" id="exploresearch">
            <i class="fa fa-search fa-1x" aria-hidden="true"></i>
            
        </a>		
        <center>
        	<h4 id="exploretitle">EXPLORE</h4>
        </center>
	</ion-nav-title>
 -->
	<ion-content>
		<div class="list" >
			<div ng-repeat="item in items">
				<a class="item item-avatar"  ng-click="viewCompany(item.handle)">
					<img src="{{ item.avatar }}" id="profileimage">
					<h2 id="companyname">{{ item.name }}</h2>
	 				<p class="companyfollowing">{{ item.following }} FOLLOWING · {{ item.follower }} FOLLOWERS</p>
					<p class="companyposition">{{ item.position }} POSITIONS AVAILABLE</p>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>