<!-- loading page in application -->
<ion-view name="loading">
  <ion-content id="loadingBody">
    
      <div class="centerDiv" id="titleLoading">
        <img class="" src="./img/logo.png"> 
        <p class="centerH2White">Your Work Still in Progress</p>
        <ion-spinner icon="lines" class="spinner-light"></ion-spinner>
      </div>
    

    
   
  </div>     
  
     
  </ion-content>
</ion-view>