<!-- register page -->
<ion-view id="register" can-swipe-back="false">
    <ion-content>
        <h2 id="registerTitle" class="centerTitle">REGISTER</h2>
        
            

        <form id="backgroundRegisterForm">

            <!-- <div class="spacer" style="width: 300px; height: 0px;"></div> -->
            <div class="list">
                <h4 class = "centerH2">FULL NAME</h4>
                <div>
                    <input type="text" placeholder="" ng-model="registerData.fullName" class="inputRegister">
                    <br>
                </div>
                <h4 class = "centerH2">EMAIL</h4>
                <div>
                    <!--<class="item item-input input" name="confirmPassword">-->
                    <input type="email" placeholder="" ng-model="registerData.email" class="inputRegister">
                    <br>
                </div>
                <h4 class = "centerH2">PASSWORD</h4>
                <div>
                    <!--<class="item item-input input" name="password">-->
                    <input type="password" placeholder="" ng-model="registerData.password" class="inputRegister">
                    <br>
                </div>
                <h4 class = "centerH2">CONFIRM PASSWORD</h4>
                <div>
                    <!--<class="item item-input input" name="confirmPassword">-->
                    <input type="password" placeholder="" ng-model="registerData.confirmPassword" class="inputRegister">
                    <br>
                </div>
            </div>
        </form>

            
        <div></div>
        <!-- <div class="spacer" style="width: 320px; height: 9px;"></div> -->
        <div class="divButton">
            <button class="button button-assertive  button-block roundButton" ng-click="register()">SUBMIT</button>
        </div>
        <br>
        <p id="dontHaveAccount">Already have an account?</p>
        <div class="divButton" id="haveAccount">
            <button class="button button-block roundButton button-assertive" ui-sref="login">LOGIN</button>
        </div>
        
    </ion-content>
</ion-view>
