<!-- first page in application -->
<ion-view name="starters">
  <ion-content>
  	<div id="icon_title">
  		<img class="centerImage" src="./img/Secret_Sparrow_Title.png">
    </div>
    <div class="divButton starterButton"> 
	  <button class="button button-block button-assertive roundButton" type="submit" ui-sref="login" id="submit">SIGN IN</button>
	  <button class="button button-block button-assertive roundButton" type="submit" ui-sref="register" id="submit">REGISTER</button>
	</div>     	
  </ion-content>
</ion-view>