<ion-view title="Followed Twitter Account">
  <ion-content padding="false" class="has-header">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="load()">
      </ion-refresher>
      <div class ="list" class="listTwitterAccount" ng-show="showTwitterAccount">
        <div ng-repeat="x in records">
          <div class="item item-avatar item-icon-right">
            <img ng-src="{{x.profile_image_url}}"> 
            <a ng-click="removeTwitterAccount($index,x.screen_name,x.handle)">
                  <i class="fa fa-trash-o fa-2x" id="removeButton" >
                  </i>
                </a>     
            <h2>{{x.name}}</h2>
                <p id="description">Has not followed back in {{x.days}} days</p>    
            </div>
        </div>
      </div>
      <h1 class="noShowTitle centerH2" ng-show="hideTwitterAccount">You haven't  followed anyone yet</h1>
  </ion-content>
</ion-view>
