/* In this file we have all of the file css*/


/* universal style */
/* Design color
	red = "#ED5456"
	LIGHT GRAY = "#D8D8D8"
	WHITE = "#FFFFFF"
	DARK GRAY = "#4D4D4D"
*/

.nav-bar-block, .bar {
  background-color: #ED5356 !important;
}

.center{
	margin-left: auto;
    margin-right: auto;
    display: block;
}
.title-image{
	margin-left: auto;
    margin-right: auto;
    display: block;
	width: auto;
	height: 50px;
}

.img-circle {
	border-radius: 50%;
	height:75px;
	width:75px;
}
.form-spacing{
    margin-top: 10%;
}

.footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
}

.centerDiv{
	padding: 10px 0;
    text-align: center;
}


.top20{
	margin-top: 20px;

}
.bot20{
	margin-bottom: 20px;
}

.left10{
	margin-left: 10px;
}

.right10{
	margin-right: 10px;
}

.centerH2{
	font-size: 22px !important;
	color: #ED5356;
	text-align: center;
	
}

.centerH2RedBig{

	font-size: 30px !important;
	color: #ED5356;
	text-align: center;
	

}
.centerH2Black{
	font-size: 22px !important;
	color: black;
	text-align: center;
	
}
.centerH2White{
	font-size: 22px !important;
	color: white;
	text-align: center;
	
}
.centerTitle{
	text-align: center;
	margin-top: 20px !important;
	color: black;

}


.divButton{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

.divButton-wide{
	margin-left: 25%;
	margin-right: 25%;
	width: 100%;
}

.roundButton{
	border-radius:100px 100px 100px 100px;

}
.turquoise{
    background-color: #1abc9c;
    color:#ffffff;
}

.emerald{
    background-color: #2ecc71;
    color:#ffffff;
}
.nephritis{
    color:#27ae60;
}
.nephritisBg{
    background:#27ae60;
}

.river{
    background-color: #3498db; 
    color:#ffffff;
}
.river-color{
    color: #3498db;
}

.river-colorBg{
    background: : #3498db;
}
.amethyst{
    background-color: #9b59b6;
    color:#ffffff;
}

.amethyst-color{
    color: #9b59b6;
}
.amethyst-colorBg{
    background: : #9b59b6;
}
.asphalt{
    background-color: #34495e;
    color:#ffffff;
}

.carrot{
    background-color: #e67e22;
    color:#ffffff;
}

.alizarin{
    background-color: #e74c3c;
    color:#ffffff;
}

.pumpkin{
	background-color: #f39c12;
    color:#ffffff;
}

.concrete{
    background-color: #95a5a6;
    color:#ffffff;
}

.orange{
    background-color: #f39c12;
    color:#ffffff;
}
.interested_icon{
    padding-bottom: 13%;
    padding-top: 13%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}




/* Style for starter.html */
.starterButton{
	
	margin-top:30%;
}




#icon_title{
	
	
	margin-top: 50%;
	
}

#icon_title img{
	margin-left: 10%;
	margin-right: 10%;
	width: 79%;

}
/* Style for login.html */

#backgroundLoginForm{
	background: #D8D8D8;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
}
#backgroundLoginForm h2{
	text-align: center;
	
}
#backgroundLoginForm input{
	background-color: #D8D8D8 !important;
	
	width: 60%;
	margin-left: 20%;
	margin-right:20%;
	border-bottom: 1px solid #4D4D4D !important;
		
}

#forgotPassword{
	text-align: center;
	

}


.loginSignUpButton{
	margin-top: 30px;
}

.inputCenter{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	text-align: center;

}

.submit{

}

#dontHaveAccount{
	text-align: center;
}

/* css for register.html */

.spacer{
	width: 300px; height: 0px;
}
.registerText{
	color:#ED5356;font-weight:50%;text-align:center;
}
#haveAccount{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#backgroundRegisterForm input{
	background-color: #D8D8D8 !important;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	margin-right:20%;
	border-bottom: 1px solid #4D4D4D !important;
		
}
#backgroundRegisterForm{
	background: #D8D8D8;
	margin-top: 40px;
	width: 100%;
	margin-bottom: 40px;
}

/* css for registerRole.html    */
.roles{
	margin-left: 10%;
	margin-right:10%;

	
}
#roleCrowdie{
	width: 80%;
	height: 30%;
	
}

#roleBO{
	width: 80%;
	height: 30%;
}

#titleRole{
	font-size: 30px !important;
	margin-top: 30px;
}



/* css for chooseCategories.html */


#titleChooseCategories{
	margin-top: 30px;
	font-size: 20px !important;
	margin-bottom: 20px;
}

#bodyChooseCategories p{
	text-align: center;
	margin-top: 10px;
	font-size: 15px;
	color: #ED5356;
}

#bodyChooseCategories i{
	text-align: center;
}

#chooseCategoriesSubmit{
	margin-top: 40px;
}

.noShowTitle{
	margin-top: 30%;
}


.fa-5x{
	font-size:70px;
	text-align: center;
}

/*for home menu crowdieHome.html and boHome.html*/

#findMoreCompaniesButton{
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	margin-bottom: 20px;
}
.avatar{
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
    margin-top: 20px;

}
.eachAvatar{
    text-align:center;
    margin-left:17px;
}

.section
{float:left; width:50%;

    
}

.box
{display:block;
padding-top:5px;
    margin-left:5px;
    margin-right:1px;
    
}


.topRightContent {
   border-left: 1px solid gray;
   padding-top:5px;
   padding-left:4px;
   margin-left:3px;
   
}
.bottomRightContent {
   border-left: 1px solid gray;
    padding-left:4px;
   margin-left:3px;
   
}
.utility
{display:block;
    
    margin-left:4px;
}

/* css for companyProfile.html */

#applyButtonCompany{

}

#companyProfilePicture{
	margin-top: 20px;
}

#companyProfileName{
	text-align: center;
	font-size: 22px;
	margin-top: 20px;
}

.companyProfilePictureDiv{
	margin-top: 30px;
}

/*  for suggestion work in register registerSuggestedCrowdie*/


.borderColor{
	border: 5px solid white;
}

/* loading.html */

#loadingBody{
	background-color: #ED5456
}
#titleLoading{
	margin-top: 35%;
}
.spinner  {
	
	fill: #123 !important;
}

/*boCrowdieList.html */
.stable-bg {
  background-color: white; }


.divider{
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid grey;
}
#trashcan{
	color:#ED5456;
    float:right;
    padding-left:  5%;
}

.row-crowdies{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
}
.col-crowdies{
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
}

#efficiency{
	font-weight:500;
	color:#4D4D4D;
}

#nav2 li {
    display: inline-block;
    font-size: 12px;
}

#nav2 li + li:before {
    content: " | ";
    padding: 0 5px;

}
#followback{
	color:#4d4d4d;
}

/* crowdieWorking.html */

.greyBgBody{
	background: #D8D8D8;
}

/* explore */
/* explore */
#profileimage {
   width: auto;
   height: 80px;

  margin-left:10px;
  margin-top:10px;
}

.companyfollowing, 
.companyposition {
  margin-left: 7%; 
  
}

#companyname {
  margin-left: 7%; 
  font-weight: bold;
}

#exploretitle {
	float: center; 
	color: white; 
	
	margin-left:-3%;
}

#exploresearch {
	float: right;
}

/* end of explore */

/* style for dashboard.html */

#chartDiv {
  position: relative;
}

#chartTextDiv{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

}

#chartText{
	font-size: :50px;
	color: :#ED5356;
}

.buttonDashboard{
	width: 33%;
	height: inherit;
}

/* Follwed Twitter Account */

#removeButton{
	margin-top: 1%;
	margin-bottom: 1%;
	float: right;
	color: #ED5356;
}

.remove-crowdies-bo{
	margin-top: 1%;
	margin-bottom: 1%;
	float: right;
	color: #ED5356;
}


#twitterAvatar{
	float:left;
}
#description{
	color: #ED5356;
	font-size: 12px;
}

#dashboard-padding{
    margin-top: 6%;
}

